# name of pipeline workflow
name: ketan terraform workflow 
# trigger action 
# when there is a push happen in master branch pipeline gonna trigger
on: 
  push:
    branches: [ "dryrun-aws" ]  
    paths-ignore:
      - "README.md"
      - "terraform.tfstate"

#creating jobs
jobs:
# stage 1 with terraform details 
  test-jobs:
    runs-on: ubuntu-latest 
    steps: # what exactly you want to run in ubuntu machine 
    - name: hello world printing 
      run: |
        echo "Hello world"
        git version
        whoami
        ls -al
  