# name of pipeline workflow
name: ketan terraform workflow 
# trigger action 
# when there is a push happen in master branch pipeline gonna trigger
on: 
  push:
      branches: [ "main" ]  
          paths-ignore:
                - "README.md"
                      - "terraform.tfstate"

                      #creating jobs
                      jobs:
                      # stage 1 with terraform details 
                        test-jobs:
                            runs-on: ubuntu-latest 
                                steps: # what exactly you want to run in ubuntu machine 
                                    #calling first github action to clone my dryrun-aws data to runner machine
                                        - name: taking code from my repo
                                              uses: actions/checkout@v5
                                                    with:
                                                            ref: main   
                                                                
                                                                    - name: installing terraform
                                                                          uses: hashicorp/setup-terraform@v3

                                                                              - name: hello world printing 
                                                                                    run: |
                                                                                            echo "Hello world"
                                                                                                    git version
                                                                                                            whoami
                                                                                                                    ls -al
                                                                                                                            terraform version
                                                                                                                                      
                                                                                                                                        